@import "tailwindcss";

.font-kavoon {
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.font-iosevka-charon-mono {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

/* @theme {
  --color-dark-bg: #060606;
  --color-dark-border: #464646;

  --color-dark-subtext: #898989;
  --color-bold-red: #DE4747;
  --non-interactable-rounding: 25px;
  --interactable-rounding: 50px;

  --color-hover-bold-red: #AC3737;
  --color-hover-dark-subtext: #ddd;
  --color-hover-white-text: #898989;
} */

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
